#people {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 75px;
    row-gap: 100px;
    padding-bottom: 100px;
    font-family: Verdana, sans-serif;

}

.person {

    transition: transform 0.2s;
    width: 300px;

}

.person:hover {

    transform: scale(0.95);
    cursor: pointer;

}