/* Project division */
#projects {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 115px;
    height: 425px;

}

#projects > div {

    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 25px;
    margin-left: 1%;
    height: 300px;
    width: 350px;
    transition: transform 0.2s;

}

#projects > div:hover {

    transform: scale(0.95);

}

#projects > div > div {

    border-radius: 15px;
    background-color: #323949;
    font-family: Verdana, sans-serif;

    text-align: center;
    margin-top: 75%;
    height: 125px;
    width: 350px;

}

.shrink {

    transform:scale(0.95);

}